SUPABASE_URL=https://dddd.supabase.co
SUPABASE_SERVICE_KEY=test.hooo.haiii
DATABASE_URL=postgresql://postgres:hello@db.dddd.supabase.co:5432/postgres
PORT=5000
NODE_ENV=development
JWT_SECRET=randometextoverhere
GOOGLE_MAPS_API_KEY=chupalagerabussvaii
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8081,http://localhost:19006,https://*.expo.dev,https://*.ngrok.io

REDIS_URL=redis://redis:6379

SPARROW_SMS_TOKEN=v2_codenepelacodood
SPARROW_SMS_SENDER=TheAlert